# Created by .ignore support plugin (hsz.mobi)
.idea
class
target/
.externalToolBuilders
.settings
*.iml
### Java template
*.class
classes
# Mobile Tools for Java (J2ME)
.mtj.tmp/
logs/

# Package Files #
.jar
.war
*.ear
