<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jQueryLigerUI1.3.3/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
    <script src="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/js/plugins/ligerButton.js" type="text/javascript"></script>
    <script src="/static/js/jQueryLigerUI1.3.3/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="/static/js/sysuser/userList.js" type="text/javascript"></script>
    <style type="text/css">
        #div_edit{width: 900px; margin: 10px 10px 10px 10px;}
        #div_edit td{vertical-align: top;padding: 5px 0 0 0;}
        #btn_back_index {margin: 0 0 9px 0;}
        #btn_saveAndNext{margin: 9px 0 0 0;}
        /* 图片信息 */
        #tbl_image td{vertical-align: top;padding: 5px 0 0 0;}
        #img_view {width: 200px;height: 150px;border: 1px solid #000;}
        #btn_choose {width: 67px;}
    </style>
</head>
<div id="div_edit">
    <!--<div>-->
        <!--<input id="btn_back_index" class='l-button' type="button" value="返回首页" />-->
    <!--</div>-->
    <div id="div_label_edit">
        <div id="div_label_content_0">
            <form id="form1">
                <table>
                    <tr>
                        <td>
                            <label for="userName">登录用户名：</label>
                        </td>
                        <td>
                            <span id="userName"  name="userName" th:text="${user.userName}" class="ui-textbox"  />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="userDesc">用户描述：</label>
                        </td>
                        <td>
                            <span id="userDesc" name="userDesc" th:text="${user.userDesc}" class="ui-textarea"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>角色：</label>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr th:each="role : ${roles}">
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" name="roleId" th:value="${role.id}" th:checked="${role.isChecked}"/>
                            <span th:text="${role.roleName}+'——'+${role.desc}"></span>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <!--<div align="left" >-->
        <!--<input id="btn_saveAuthToRole" style="width: 100px;" class='l-button' type="button" value="保存" />-->
    <!--</div>-->
</div>
<input id="hide_id" type="hidden" name="id" th:value="${user.id}" />
</html>

